html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
html{
	font-size: 15px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}

figure{
	margin-bottom: -3px; /* Nie wiedzieć czemu pojawia się taki margines */
}

/* MAIN HEADER */

.main-header{
	width: 100%;
	margin: 0;
	padding: 0;
}

/* HEADER TOP */

.flex-header-top{
	display: flex;
	width: 100%;
	height: 49px;
	margin: auto;
	font-family: Arial, sans-serif;
	font-size: .9rem;
	font-weight: 100;
	background-color: #276187;
	border-bottom: 1px solid #75b8e5;
	justify-content: flex-end;
	align-items: center;
}

.sign-in{
	margin: 0 1%;
}

.login-fb{
	margin-right: 1%;
}

.top-link{
	color: #fff;
	text-decoration: none;
	transition: color .22s;
	font-family: 'Roboto Condensed';
}

.top-link:hover{
	color: #f9d100;
}

.icon-unlocked:before{
	padding-left: 12px;
	font-size: .9rem;
	transition: font-size .20s;
}


/* Czemu to nie działa? */
.icon-unlocked:before:hover{
	font-size: 1.2rem;
}

.icon-facebook3:before{
	padding-left: 12px;
}

/* HEADER BOTTOM */

.flex-header-bottom{
	display: flex;
	flex: 0 0 100%;
	width: 100%;
	min-height: 97px;
	align-items: center;
	border-bottom: 1px solid #75b8e5;
	background-image: url(../images/bg-header-bottom.jpg);
	background-color: #0c4f7c;
	background-position: center center;
}

	/* LOGO */

.logo{
	margin-left: 14%;
}

.logo img{
	width: 120%;
	transition: width .32s;
}

.logo img:hover{
	width: 125%;
}

	/* MAIN MENU */

.hamburger{
	display: none;
}

.main-menu{
	display: flex;
	margin: auto;
}

.main-ul{
	list-style: none;
	width: 100%;
}

.main-ul li{
	display: inline;
	padding: 34px 10px;
	margin-left: 15px; /* Dlaczego w % ostatni element li łamany jest do nowego wiersza? */
	border-bottom: 0 solid #f9d100;
	transition: border-bottom .3s ease-out;
}

.main-ul li:hover{
	border-bottom: 5px solid #f9d100;
}

.main-ul a{
	text-decoration: none;
	color: #fff;
	font-family: Calibri, sans-serif;
	font-size: 1.4rem;
	font-weight: 100;
}

	/* SEARCH BAR */

.search-bar{
	margin-right: 2%;
	height: 43px;
}

/* Jak poprawnie podłożyć bg image pod search element */
.search{
	height: 43px;
	padding-left: 5%;
	box-shadow: 2px 2px 10px 1px #3f3640 inset;
	border: 1px solid #5fa2cf;
	background-color: #084b78;
}

.submit{
	height: 43px;
	width: 20%;
	margin-left: -10px;
	border: 1px solid #5fa2cf;
	border-left: none;
	color: #084b78;
	line-height: 15px;
	background: #084b78 url(../images/submit.png) 50% 50% no-repeat;
	box-shadow: 0 2px 10px 1px #3f3640 inset;
	cursor: pointer;
}

/* HERO */

/*.hero{
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
}*/

.hero-img{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	height: 799px;
	/*width: 1920px;*/
	background-image: url(../images/hero.jpg);
	background-position: center center;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: stretch;
}

/* VIDEO */

.bg-video:before{
	content: '';
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgba(0,0,0,.7);
	/*display: none;*/
}

/*.bg-video:target:before{
	display: block;
}*/

.bg-video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	max-width: 100%;
	height: auto;
	width: auto;
	z-index: 9999;
	transition: transform .95s;
}

body:target .bg-video{
	transform: translate(-50%, 500%);
}

.flex-movie-wrapper{
	display: flex;
	position: relative;
	width: 35%;
	background: rgba(174,214,249,.5);
	box-shadow: 3px 3px 18px 6px rgba(0,0,0,.35);
	height: 65%;
	-ms-align-self: center;
	align-self: center;
}

.flex-play-movie{
	position: relative;
	display: flex;
	margin: 0;
	width: 100%;
	color: #fff;
	font-family: "Roboto Condensed", sans-serif;
	text-decoration: none;
	text-align: center;
	align-content: center;
	flex-wrap: wrap;
	transform: translateY(10%);

}

.play-btn{
	position: absolute;
	opacity: .3;
	transition: opacity .25s ease-out;
	width: 100%;
	height: 100%;
}

.flex-play-movie:hover .play-btn{
	opacity: 1;
}

.flex-play-figc{
	display: flex;
	flex: 1 0 100%;
	justify-content: center;
}

.flex-play-figc figcaption{
	padding-top: 5em;
	align-self: center;
	text-align: center;
	margin: auto;
	width: 80%;
}

.flex-play-figc h3{
	color: #f1f2f5;
	font-size: 4.2rem;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #000;
	font-weight: 300;
}

.flex-play-figc p{
	padding-top: 1em;
	color: #f1f2f5;
	font-size: 1.6rem;
	text-shadow: 2px 2px 2px #000;
}

.flex-play-figc a{
	display: block;
	position: absolute; /* po dodaniu position: absolute i left 0 top 0
	element a osiąga wkoncu min-height i width */
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	text-indent: -9999px;
}

/* TWO COLUMNS */

.two-columns{
	display: flex;
	/*height: 600px;*/
	margin: 0;
	padding: 0;
	color: #fff;
}

.what-is-this{
	max-height: 600px;
	min-height: 500px;
	margin: 0;
	padding: 5% 7% 5% 15%;
	flex-basis: 50%;
	font-family: Arial, sans-serif;
	background-image: url(../images/what-is-this.jpg);
	background-position: center center;
	background-size: cover;
}

.flex-news-content{
	display: flex;
	justify-content: flex-end;
}

.news-content{
	flex: 1 1 50%;
	padding-top: 7%;
	font-size: .8rem;
	text-indent: 15px;
}

.news-quote{
	flex: 1 1 40%;
	padding-top: 7%;
	padding-left: 8%;
	font-size: 1.5rem;
}

.q-mark{
	font-size: 2rem;
}

.news-quote cite{
	font-size: .7rem;
}

.news-cite{
	text-align: right;
}

.news-content.bottom{
	padding-top: 0;
}

.read-more{
	padding-top: 4%;
	font-size: .8rem;
	float: right;
}

.read-more a{
	color: #bca51d;
}

.news{
	/*display: flex;
	flex-basis: 50%;
	flex-wrap: wrap;*/
	width: 50%;
	max-height: 600px;
	min-height: 500px;
	margin: 0;
	padding: 5% 15% 5% 7%;
	font-family: Arial, sans-serif;
	background: #00101c;
}

.flex-news-header{
	display: flex;
}

.news-header{
	flex-basis: 40%;
}

.flex-news-left-right{
	display: flex;
	padding-top: 7%;
}

.title{
	font-family: Calibri, sans-serif;
	font-size: 1.3rem;
	font-weight: 100;
}

.date{
	font-size: .8rem;
	font-family: Calibri, sans-serif;
	color: #8c9aa5;
	padding-bottom: 8%;
}

.news-left{
	flex-basis: 50%;
}

.news-right{
	flex-basis: 50%;
	padding-left: 9%;
}

/* GALLERY */

.flex-gallery{
	display: flex;
}

.gallery{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gallery::after{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	background: #bca51d;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transition: opacity .18s;
}

.gallery:hover::after{
	opacity: .85;
}

.gallery-figure{
	position: relative;
	cursor: pointer;
}

.gallery-figure a{
	position: absolute;
	top: 0;
	padding: 0;
	display: block;
	min-height: 100%;
	width: 100%;
	text-indent: -9999px;
	z-index: 2;
}

.gallery-figc{
	position: absolute;
	top: 40%;
	opacity: 0;
	transition: opacity .25s;
	z-index: 2;
}

.gallery-figure:hover .gallery-figc{
	opacity: 1;
}

.plusik{
	display: block;
	position: absolute;
	width: 55px;
	height: 55px;
	top: 0;
	left: 50%;
	align-self: flex-start;
	opacity: .3;
	transform: scaleZ(1) translate3d(-50%, 320%, 0);
	transition: transform .35s, opacity .35s;
	z-index: 2;
}

.gallery-figure:hover .plusik{
	opacity: 1;
	transform: scaleZ(2) translate3d(-50%, 150%, 0);
}

.gallery-figc h3{
	padding: 1em;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1.6rem;
	color: #fff;
}

.gallery-figc p{
	padding: 0 4.8em;
	text-align: justify;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
	text-indent: 20px;

}

/* SLIDER */

/* Jakie właściwości box-model(height) w odniesieniu do responive
nadali byście tej sekcji: %, min-height, max-height?, @media */
.slider{
	display: flex;
	height: 600px;
	justify-content: center;
	background: #407a9f url(../images/bg-slider.jpg) 0 0 no-repeat;
	background-position: center center;
	background-size: cover;
}

.flex-slider{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 60%;
	height: 63%;
}

.prev{
	height: 156px;
	width: 92px;
	margin-right: 6%;
	align-self: center;
	cursor: pointer;
}

.prev img:hover{
	background-image: url(../images/prev-hover.png);
}

.next{
	height: 156px;
	width: 92px;
	margin-left: 6%;
	align-self: center;
	cursor: pointer;
}

.next img:hover{
	background-image: url(../images/next-hover.png);
}

.slide{
	width: 279px;
	height: 375px;
	padding: 8px;
	margin-right: 6%;
	font-family: Arial, sans-serif;
	color: #fff;
	background: #00101c;
	opacity: .3;
}

.slide-3{
	margin-right: 0;
}

.slide-active{
	opacity: 1;
}

.slide h3{
	font-size: 1.2rem;
	font-weight: 100;
	padding-top: 9%;
}

.slide p{
	padding-top: 5%;
	font-size: .9rem;
	text-indent: 15px;
}

.flex-map{
	display: flex;
	overflow: hidden;
}

.contact{
	position: relative;
}

.map{
	width: 100%;
}

.flex-footer{
	display: flex;
	width: 100%;
	height: 99px;
	padding-left: 3%;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: .8rem;
	color: #fff;
	background: #00101c;
}

.contact-wrapper{
	width: 44.8%;
	height: 520px;
	background-color: #00101c;
	position: absolute;
	top: 40px;
	right: 3%;
}

.flex-contact{
}

.flex-contact-h2{
	padding: 5% 0 0 5%;
	font-size: 1.3rem;
	font-family: Calibri, sans-serif;
	color: #fff;
}

.flex-contact-left-right{
	display: flex;
	padding-right: 2%;
}

.contact-data{
	flex: 1 1 50%;
	padding: 5% 0 0 5%;
	margin-right: 15px;
	color: #fff;
	font-family: Arial, sans-serif;
}

.contact-right{
	display: flex;
	padding: 5% 0 0 5%;
	flex: 1 1 50%;
}

.name, .email, .message{
	width: 80%;
	height: 44px;
	margin-bottom: 2%;
	padding: 5px 0 5px 20px;
	border: 1px solid #fff;
	color: #a5adb4;
	box-shadow: 2px 2px 10px 2px #cccbcd inset;
}

.message{
	height: 188px;
}

.form-button{
	width: 80%;
	height: 44px;
	color: #192732;
	background-color: #c3ae33;
	border: 0;
	cursor: pointer;
	transition: color .22s, background .22s;;
}

.form-button:hover{
	color: #c3ae33;
	background: #00223B;

}

.footer-a{
	font-size: .95rem;
	color: #bca51d;
	text-decoration: none;
	transition: color .22s;
	font-family: 'Roboto Condensed';
}

.footer-a:hover{
	text-decoration: underline;
	color: #D8BE24;
}

.fb{
	position: relative;
	margin-left: auto;
	margin-right: 1.5%;
}

.twitter{
	position: relative;
	margin-right: 3%;
}

.fb a, .twitter a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

@media (min-width: 375px) and (max-width: 767px){

	.flex-header-top{
		justify-content: flex-end;
		padding: 5px;
	}

	/* Jak łączyć media queries z przebudową html?
	Tu aż się prosi abym .hamburger dał w oddzielnych wrapperach wraz z logo */
	.hamburger{
		display: block;
		cursor: pointer;
	}

	.line{
		width: 35px;
		margin-bottom: 6px;
		border-bottom: 4px solid #f9d100;
	}

	.flex-header-bottom{
		justify-content: flex-start;
		flex-wrap: wrap;
		background-size: cover;
	}

	.a-log{
		margin-top: 15px;
		margin-right: auto;
	}

	.main-menu{
		display: block;
		width: 100%;
		margin: 25px 20px 10px;
	}

	.main-ul{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.main-ul li{
		width: 100%;
		display: block;
		padding: 25px 0;
		border-bottom: none!important;
		margin: 0;
	}

	.main-ul a:hover{
		color: #C8B116;
	}

	.menu{
		/*height: 0;
		overflow: hidden;*/
		display: none;
	}

	.search-bar{
		display: none;
	}

	.hero-img{
		height: 569px;
	}

	.flex-play-figc h3{
		font-size: 3.2rem;
	}

	.flex-play-figc p{
		font-size: 1.3rem;
	}

	.flex-play-figc a{
		top: -37px;
	}

	.flex-movie-wrapper{
		width: 90%;
	}

	.two-columns{
		flex-wrap: wrap;
	}

	.what-is-this{
		flex-basis: 100%;
		padding-left: 7%;
		min-height: 0;
	}

	.news{
		flex-basis: 100%;
		min-height: 0;
	}

	.flex-gallery{
		flex-wrap: wrap;
	}

	.gallery{
		flex-basis: 100%;
	}

	.gallery-1, .gallery-2, .gallery-3{
		/*width: 100%;*/
	}

	.none{
		display: none;
	}

	.contact-wrapper{
	    width: 100%;
	    height: 390px;
	    position: static;
	}

	.flex-contact-left-right{
		flex-wrap: wrap;
	}

	.email, .name{
		width: 40%;
	}

	.message{
		width: 80.75%;
		height: 88px;
	}

	.form-button{
		width: 80.75%;
	}

}

@media (min-width: 768px) and (max-width: 1365px){



}



